ul.footer-menu {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 0;
    justify-content: center;
}

ul.footer-menu li:not(:last-child)::after {
    content: " | ";
    margin: 0 0.5rem;
    color: var(--secondary);
}